{% extends "base.html" %}
{% load staticfiles %}
{% block header_current %}
<h1>{{ object }}</h1>
{% endblock %}
{% block header_left %}
<div class="header-info__actions">
  <a href="{% url 'groups-index' %}" class="header-info__action"><i class="fas fa-arrow-left"></i> Back</a>
</div>
{% endblock %}
{% block header_right %}
<div class="header-info__actions">
  <a href="{% url 'groups-delete' object.id %}" class="header-info__action header-info__action--danger"><i class="fas fa-trash"></i> Remove</a>
</div>
{% endblock %}
{% block content %}
<form method="post" class="form form--body">
  {% csrf_token %}
  <div class="form__content">
    <div class="form__group form__group--inline">
      <label>&nbsp;</label>
      <span class="form-input"><a href="{% url 'master-zones-new' %}">Add new master zone</a></span>
    </div>
    {% for field in form %}
      <div class="form__group form__group--inline">
        <label for="{{ field.label }}">{{ field.label }}
        {% if field.field.required %}<span>*</span>{% endif %}</label>
        <span class="form-input">
          {% if field.errors %}
            {{ field }}
            {% for error in field.errors %}
              <br><span class="form-input__error">{{ error }}</span>
            {% endfor %}
          {% else %}
            {{ field }}
          {% endif %}
        </span>
      </div>
    {% endfor %}
    <div class="form__group form__group--inline">
      <span class="required">* Required fields</span>
      <input type="submit" value="Save Group" class="form-input--submit">
    </div>
  </div>
</form>
<link href="{% static "css/tagify.css" %}" rel="stylesheet">
<script src="{% static "js/tagify.min.js" %} "></script>
<script src="{% static "dist/js/group.js" %} "></script>
{% endblock content %}
