$color1: #12233d;
$color2: #263f63;
$color3: #2995e3;
$color4: #1c3558;
$color5: #f7f7f7;

$default: #979a9e;
$danger: #e74c3c;
$success: $color3;

$font1: "Montserrat", sans-serif;
$font2: "Roboto", sans-serif;
