[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==2.0.12"
psycopg2 = "*"
djangorestframework = "*"
django-filter = "*"
faktory = "*"
djangorestframework-yaml = "*"
django-taggit = "*"
django-guardian = "*"
raven = "*"
drf-yasg = {extras = ["validation"], version = "*"}
whitenoise = "==4.1"

[dev-packages]
coverage = "*"
black = "==18.5b0"
"flake8" = "*"
