[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "~=2.2.27"
psycopg2 = "~=2.7.5"
djangorestframework = "~=3.11.0"
django-filter = "~=2.2.0"
faktory = "~=0.4.0"
djangorestframework-yaml = "~=1.0.3"
django-taggit = "~=1.2.0"
django-guardian = "~=2.1.0"
raven = "~=6.10.0"
drf-yasg = {extras = ["validation"],version = "*"}
whitenoise = "~=4.1.0"
django-fernet-fields = "~=0.6.0"

[dev-packages]
coverage = "*"
black = "==18.5b0"
model-bakery = "*"
flake8 = "*"